@import 'tailwindcss';

@font-face {
  font-family: 'Billabong'; /* A name you choose for your font */
  src: local('Billabong'),
    /* Optional: checks if the font is locally installed */
      url('./billabong_regular.woff2') format('woff2');
  font-weight: normal; /* Define the weight of this specific font file */
  font-style: normal; /* Define the style of this specific font file */
}

.font-logo {
  font-family: 'Billabong', cursive;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
